node-red/baby-monitor.md
[{"id":"4508488a.f54358","type":"johnny5","z":"f4498df9.dfb21","name":"Tap Detection","func":"var Playground = global.get('playground');\n\n\n  /**\n   * Playground Controllers\n   */\n  var accelerometer = new five.Accelerometer({\n    controller: Playground.Accelerometer\n  });\n\n  var pixels = new five.Led.RGBs({\n    controller: Playground.Pixel,\n    pins: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]\n  });\n\n  var pads = new five.Touchpad({\n    controller: Playground.Touchpad,\n    pads: [0, 10],\n  });\n\n  var piezo = new five.Piezo({\n    controller: Playground.Piezo,\n    pin: 5,\n  });\n\n  /**\n   * Default Component Controllers\n   * @type {five}\n   */\n  var buttons = new five.Buttons([4, 19]);\n\n  var led = new five.Led(13);\n\n  var toggle = new five.Switch(21);\n\n  /**\n   * Events and Data Handling\n   */\n  accelerometer.on(\"tap\", (data) => {\n    console.log(\"tap:\"+ data);\n    piezo.frequency(data.double ? 1500 : 500, 50);\n    var newMsg = { payload: \"red\" };\n    node.send(newMsg);\n      \n  });\n\n\n","board":"9eca976.9adf368","noerr":0,"x":700,"y":400,"wires":[["ebe69246.7621b","a7c237c0.ae9f48"]]},{"id":"203705c7.0e1ada","type":"trigger","z":"f4498df9.dfb21","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","name":"","x":400,"y":300,"wires":[["4508488a.f54358"]]},{"id":"ebe69246.7621b","type":"johnny5","z":"f4498df9.dfb21","name":"","func":"var Playground = global.get('playground');\n\nvar pixels = new five.Led.RGBs({\n    controller: Playground.Pixel,\n    pins: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]\n});\n\nnode.on(\"input\", function(msg){\n    pixels.forEach(pixel => pixel.color(msg.payload));\n});","board":"9eca976.9adf368","noerr":0,"x":880,"y":340,"wires":[[]]},{"id":"a7c237c0.ae9f48","type":"galup-camera","z":"f4498df9.dfb21","switch":"1","name":"","x":920,"y":460,"wires":[["9965eb3c.3d32e8"]]},{"id":"9965eb3c.3d32e8","type":"http request","z":"f4498df9.dfb21","name":"Telegram","method":"GET","ret":"txt","url":"","tls":"","x":1180,"y":400,"wires":[[]]},{"id":"9ff53510.9ee358","type":"inject","z":"f4498df9.dfb21","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":150,"y":300,"wires":[["203705c7.0e1ada"]]},{"id":"9eca976.9adf368","type":"nodebot","z":"","name":"PlayGround","username":"","password":"","boardType":"playground-io","serialportName":"/dev/ttyACM0","connectionType":"local","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""}]
