node-red/flow-battery-temp-dashboard.txt
[{"id":"2b3ce864.152488","type":"GU-bat-temp","z":"8d06f96.4858508","switch":"1","name":"Read battery temperature","x":400,"y":100,"wires":[["3f98457.92d1aba"]]},{"id":"5c437c67.25583c","type":"iot-datasource","z":"8d06f96.4858508","name":"Insert to database (/dash)","tstampField":"","dataField":"","disableDiscover":false,"x":900,"y":180,"wires":[[]]},{"id":"bafc86b5.c77c6","type":"inject","z":"8d06f96.4858508","name":"Every 2 seconds","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":150,"y":60,"wires":[["2b3ce864.152488"]]},{"id":"3f98457.92d1aba","type":"function","z":"8d06f96.4858508","name":"Make JSON data","func":"var now = ( new Date() ).getTime();\nvar t = msg.payload;\n\nmsg.payload = {\n  tstamp: now,\n  data: {\n    bat_temp: t,\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":647.5,"y":135,"wires":[["5c437c67.25583c"]]}]
