node-red/flow-workshop-baby-monitor.txt
[{"id":"b48dea1c.f96918","type":"telegram sender","z":"a8e4f632.aac428","name":"Send telegram message via bot","bot":"d23bfe60.810488","x":1030,"y":220,"wires":[["1abcf06b.b59c88","d17825c8.7559e"]]},{"id":"e52b1b48.40c3c8","type":"GU-camera","z":"a8e4f632.aac428","switch":"1","name":"Take a picture","x":380,"y":40,"wires":[["2a4ebae6.8628ae","53fb75c0.59235c","e26ad946.098d4"]]},{"id":"2a4ebae6.8628ae","type":"file","z":"a8e4f632.aac428","name":"Save to /data/front_camera.jpg","filename":"/data/front_camera.jpg","appendNewline":false,"createDir":true,"overwriteFile":"true","x":650,"y":40,"wires":[]},{"id":"eb59cec7.08387","type":"function","z":"a8e4f632.aac428","name":"Make a payload","func":"msg.payload = {\n    content: '/data/front_camera.jpg',\n    type: 'photo',\n    chatId: 194236239,\n    caption: 'You must have a look at this!'\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":220,"wires":[["b48dea1c.f96918"]]},{"id":"53fb75c0.59235c","type":"delay","z":"a8e4f632.aac428","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":160,"wires":[["eb59cec7.08387","f767b3ca.855798"]]},{"id":"aff60d2.98948f","type":"johnny5","z":"a8e4f632.aac428","name":"If tab is detected","func":"var Playground = require('playground-io');\n\n/**\n* Playground Controllers\n*/\nvar accelerometer = new five.Accelerometer({\n    controller: Playground.Accelerometer\n});\n\nvar pixels = new five.Led.RGBs({\n    controller: Playground.Pixel,\n    pins: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]\n});\n\nvar pads = new five.Touchpad({\n    controller: Playground.Touchpad,\n    pads: [0, 10],\n});\n\nvar piezo = new five.Piezo({\n    controller: Playground.Piezo,\n    pin: 5,\n});\n\n/**\n* Default Component Controllers\n* @type {five}\n*/\nvar buttons = new five.Buttons([4, 19]);\n\nvar led = new five.Led(13);\n\nvar toggle = new five.Switch(21);\n\n/**\n* Events and Data Handling\n*/\naccelerometer.on(\"tap\", (data) => {\n    console.log(\"tap:\"+ data);\n    piezo.frequency(data.double ? 1500 : 500, 50);\n    var newMsg = { payload: \"red\" };\n    node.send(newMsg);\n});","board":"bb4a5923.acbb18","noerr":0,"x":150,"y":40,"wires":[["df9be798.9ea5b8"]]},{"id":"a608a38d.c46cc","type":"johnny5","z":"a8e4f632.aac428","name":"Control LED","func":"var Playground = require('playground-io');\n\n/**\n* Playground Controllers\n*/\nvar pixels = new five.Led.RGBs({\n    controller: Playground.Pixel,\n    pins: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]\n});\n\nnode.on(\"input\", function(msg){\n    if (msg.payload == 1) {\n      pixels.forEach(pixel => pixel.color('red'));\n    } else {\n        pixels.forEach(pixel => pixel.color('black'));\n    }\n});","board":"bb4a5923.acbb18","noerr":0,"x":950,"y":100,"wires":[[]]},{"id":"e26ad946.098d4","type":"change","z":"a8e4f632.aac428","name":"Turn on LED","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":100,"wires":[["a608a38d.c46cc"]]},{"id":"f767b3ca.855798","type":"change","z":"a8e4f632.aac428","name":"Turn off LED","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":160,"wires":[["a608a38d.c46cc"]]},{"id":"e373b6b8.f6991","type":"change","z":"a8e4f632.aac428","name":"var working = 1","rules":[{"t":"set","p":"working","pt":"global","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":180,"wires":[["e52b1b48.40c3c8"]]},{"id":"1abcf06b.b59c88","type":"change","z":"a8e4f632.aac428","name":"var working = 0","rules":[{"t":"set","p":"working","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":300,"wires":[[]]},{"id":"8ea785ec.61b68","type":"inject","z":"a8e4f632.aac428","name":"When started","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":1080,"y":300,"wires":[["1abcf06b.b59c88"]]},{"id":"df9be798.9ea5b8","type":"switch","z":"a8e4f632.aac428","name":"working == 0","property":"working","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":150,"y":180,"wires":[["e373b6b8.f6991"]]},{"id":"d17825c8.7559e","type":"debug","z":"a8e4f632.aac428","name":"","active":true,"console":"false","complete":"false","x":1310,"y":180,"wires":[]},{"id":"d23bfe60.810488","type":"telegram bot","z":"","botname":"GalupWorkshopBot","usernames":"hellosung","chatids":""},{"id":"bb4a5923.acbb18","type":"nodebot","z":"","name":"","username":"","password":"","boardType":"playground-io","serialportName":"","serialportName2":"/dev/ttyACM0","connectionType":"local","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""}]
