node-red/flow-workshop-baby-monitor.txt
[{"id":"cf4f786b.71be18","type":"inject","z":"8d06f96.4858508","name":"Click this","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":220,"wires":[["bf9f217b.ad8b5","9b8dde69.675dc","65811a5d.e45dec"]]},{"id":"bf9f217b.ad8b5","type":"delay","z":"8d06f96.4858508","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":80,"wires":[["91e07115.fac2d"]]},{"id":"83a5a616.279218","type":"GU-led","z":"8d06f96.4858508","switch":"1","name":"","x":590,"y":140,"wires":[]},{"id":"366f2987.b8ee96","type":"GU-led","z":"8d06f96.4858508","switch":"0","name":"","x":810,"y":80,"wires":[]},{"id":"9b8dde69.675dc","type":"change","z":"8d06f96.4858508","name":"MSG: Turn on","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":140,"wires":[["83a5a616.279218"]]},{"id":"91e07115.fac2d","type":"change","z":"8d06f96.4858508","name":"MSG: Turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":80,"wires":[["366f2987.b8ee96"]]},{"id":"e14d97e.e409668","type":"telegram sender","z":"8d06f96.4858508","name":"Send telegram message via bot","bot":"428e594b.df33a","x":1050,"y":380,"wires":[[]]},{"id":"65811a5d.e45dec","type":"GU-camera","z":"8d06f96.4858508","switch":"1","name":"Take a picture","x":420,"y":320,"wires":[["307cd287.825ab6","17e97f38.657b41"]]},{"id":"307cd287.825ab6","type":"file","z":"8d06f96.4858508","name":"Save to /data/front_camera.jpg","filename":"/data/front_camera.jpg","appendNewline":false,"createDir":true,"overwriteFile":"true","x":690,"y":320,"wires":[]},{"id":"55c81f87.7d4558","type":"function","z":"8d06f96.4858508","name":"Make a payload","func":"msg.payload = {\n    content: '/data/front_camera.jpg',\n    type: 'photo',\n    chatId: 194236239,\n    caption: 'You must have a look at this!'\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":380,"wires":[["e14d97e.e409668"]]},{"id":"17e97f38.657b41","type":"delay","z":"8d06f96.4858508","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":380,"wires":[["55c81f87.7d4558"]]},{"id":"428e594b.df33a","type":"telegram bot","z":"","botname":"GalupWorkshopBot","usernames":"hellosung","chatids":""}]
