node-red/flow-node-red-digital-clock.txt
[{"id":"1f840ab.f2913f5","type":"inject","z":"7c42eba1.106674","name":"heartbeat","topic":"","payload":"","payloadType":"date","repeat":"0.25","crontab":"","once":true,"x":190,"y":140,"wires":[["745a17d6.b3daf8"]]},{"id":"156f56bb.b16de9","type":"change","z":"7c42eba1.106674","name":"Make it dark","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":80,"wires":[["67eaf109.c839a"]]},{"id":"e7eb5923.1796d8","type":"inject","z":"7c42eba1.106674","name":"make it dark","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":670,"y":80,"wires":[["156f56bb.b16de9"]]},{"id":"6c39472.231ba38","type":"inject","z":"7c42eba1.106674","name":"twitter updated (test)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":460,"wires":[["d2b295cc.21e4d8"]]},{"id":"90cba5d6.7ce91","type":"change","z":"7c42eba1.106674","name":"Twitter notification (global.mode = 2)","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"},{"t":"set","p":"mode","pt":"global","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":260,"wires":[["67eaf109.c839a"]]},{"id":"d2b295cc.21e4d8","type":"change","z":"7c42eba1.106674","name":"Make it dark","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":460,"wires":[["90cba5d6.7ce91","51ebfbb4.0f0164","67eaf109.c839a"]]},{"id":"36b602b3.731526","type":"inject","z":"7c42eba1.106674","name":"when started","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":190,"y":80,"wires":[["4ca67c61.bf4894"]]},{"id":"4ca67c61.bf4894","type":"change","z":"7c42eba1.106674","name":"global.mode = 0","rules":[{"t":"set","p":"mode","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":80,"wires":[[]]},{"id":"745a17d6.b3daf8","type":"switch","z":"7c42eba1.106674","name":"","property":"mode","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","outputs":3,"x":370,"y":140,"wires":[["f7dfa279.d90778"],["90cba5d6.7ce91"],["d00cdd8b.d00c38"]]},{"id":"f7dfa279.d90778","type":"change","z":"7c42eba1.106674","name":"Set various color","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":200,"wires":[["67eaf109.c839a"]]},{"id":"51ebfbb4.0f0164","type":"delay","z":"7c42eba1.106674","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":460,"wires":[["4ca67c61.bf4894"]]},{"id":"67eaf109.c839a","type":"johnny5","z":"7c42eba1.106674","name":"Change LED color","func":"var Playground = require('playground-io');\n\nvar pixels = new five.Led.RGBs({\n    controller: Playground.Pixel,\n    pins: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]\n});\n\nvar cur_color = 0;\nvar cur_led = 0;\nvar cur_twit = 0;\nvar cur_warn = 0;\n\nvar colors = [\n    \"red\",\n    \"orange\",\n    \"yellow\",\n    \"green\",\n    \"blue\",\n    \"indigo\",\n    \"violet\",\n];\n\nnode.on(\"input\", function(msg){\n    if (msg.payload == '0') {\n        pixels.forEach(pixel => pixel.color('black'));\n    } else if (msg.payload == '1') {\n        //pixels.forEach(pixel => pixel.color(colors[cur_color]));\n        pixels[cur_led].color(colors[cur_color]);\n        if (++cur_color === colors.length) {\n            cur_color = 0;\n        }\n        if (++cur_led === pixels.length) {\n            cur_led = 0;\n        }   \n    } else if (msg.payload == '2') {\n        if (cur_twit === 0) {    \n            pixels[6].color('blue');\n        } else if (cur_twit == 1) {\n            pixels[6].color('black');\n        }\n        if (++cur_twit == 2) {\n            cur_twit = 0;\n        }   \n    } else if (msg.payload == '3') {\n        if (cur_warn === 0) {    \n            pixels.forEach(pixel => pixel.color('red'));\n        } else if (cur_warn == 1) {\n            pixels.forEach(pixel => pixel.color('black'));\n        }\n        if (++cur_warn == 2) {\n            cur_warn = 0;\n        }   \n    }\n});","board":"6607907b.c701b","noerr":0,"x":1110,"y":160,"wires":[[]]},{"id":"517d79d9.571a48","type":"http in","z":"7c42eba1.106674","name":"","url":"/warning","method":"get","upload":false,"swaggerDoc":"","x":150,"y":540,"wires":[["d00cdd8b.d00c38","ca3bfe3b.5a91a","dde517f1.033bc8"]]},{"id":"d00cdd8b.d00c38","type":"change","z":"7c42eba1.106674","name":"Warning notification (global.mode = 3)","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"},{"t":"set","p":"mode","pt":"global","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":320,"wires":[["67eaf109.c839a"]]},{"id":"ca3bfe3b.5a91a","type":"delay","z":"7c42eba1.106674","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":540,"wires":[["4ca67c61.bf4894"]]},{"id":"dde517f1.033bc8","type":"http response","z":"7c42eba1.106674","name":"","statusCode":"200","headers":{},"x":360,"y":600,"wires":[]},{"id":"b244cc6c.4b1d1","type":"telegram receiver","z":"7c42eba1.106674","name":"GalupNotiBoardBot","bot":"913b6b33.63172","saveDataDir":"","x":170,"y":700,"wires":[["65ca020b.e8c0d4","b4bcd320.8be838"],["65ca020b.e8c0d4","b4bcd320.8be838"]]},{"id":"7219051d.b23c14","type":"telegram sender","z":"7c42eba1.106674","name":"","bot":"913b6b33.63172","x":790,"y":680,"wires":[[]]},{"id":"65ca020b.e8c0d4","type":"debug","z":"7c42eba1.106674","name":"","active":true,"console":"false","complete":"false","x":450,"y":740,"wires":[]},{"id":"b4bcd320.8be838","type":"function","z":"7c42eba1.106674","name":"Set telegram message","func":"msg.payload.type = 'message';\nmsg.payload.content = 'Nice to meet you. I got your message.';\nmsg.payload.options = {reply_to_message_id: msg.payload.messageId}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":680,"wires":[["7219051d.b23c14","d2b295cc.21e4d8"]]},{"id":"6607907b.c701b","type":"nodebot","z":"","name":"","username":"","password":"","boardType":"playground-io","serialportName":"","serialportName2":"/dev/ttyACM0","connectionType":"local","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"913b6b33.63172","type":"telegram bot","z":"","botname":"fooBot","usernames":"","chatids":""}]
