node-red/flow-read-battery-temp.txt
[{"id":"5cd087c3.1e3bf","type":"GU-bat-temp","z":"7436e7dc.0ba5c8","switch":"1","name":"Read battery temperature","x":360,"y":100,"wires":[["5aeb20e6.bc3988"]]},{"id":"5aeb20e6.bc3988","type":"debug","z":"7436e7dc.0ba5c8","name":"Print debug log","active":true,"console":"false","complete":"payload","x":600,"y":140,"wires":[]},{"id":"181d925e.2a21ee","type":"inject","z":"7436e7dc.0ba5c8","name":"Click this","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":133.5,"y":59,"wires":[["5cd087c3.1e3bf"]]}]
