node-red/flow-workshop-baby-monitor.txt
[{"id":"e14d97e.e409668","type":"telegram sender","z":"8d06f96.4858508","name":"Send telegram message via bot","bot":"428e594b.df33a","x":910,"y":220,"wires":[["811757a.ffbd8a8"]]},{"id":"65811a5d.e45dec","type":"GU-camera","z":"8d06f96.4858508","switch":"1","name":"Take a picture","x":640,"y":60,"wires":[["307cd287.825ab6","17e97f38.657b41"]]},{"id":"307cd287.825ab6","type":"file","z":"8d06f96.4858508","name":"Save to /data/front_camera.jpg","filename":"/data/front_camera.jpg","appendNewline":false,"createDir":true,"overwriteFile":"true","x":910,"y":60,"wires":[]},{"id":"55c81f87.7d4558","type":"function","z":"8d06f96.4858508","name":"Make a payload","func":"msg.payload = {\n    content: '/data/front_camera.jpg',\n    type: 'photo',\n    chatId: 194236239,\n    caption: 'You must have a look at this!'\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":120,"wires":[["e14d97e.e409668"]]},{"id":"17e97f38.657b41","type":"delay","z":"8d06f96.4858508","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":120,"wires":[["55c81f87.7d4558"]]},{"id":"4fab1ba.bc892e4","type":"johnny5","z":"8d06f96.4858508","name":"If tab is detected","func":"var Playground = require('playground-io');\n\n/**\n* Playground Controllers\n*/\nvar accelerometer = new five.Accelerometer({\n    controller: Playground.Accelerometer\n});\n\nvar pixels = new five.Led.RGBs({\n    controller: Playground.Pixel,\n    pins: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]\n});\n\nvar pads = new five.Touchpad({\n    controller: Playground.Touchpad,\n    pads: [0, 10],\n});\n\nvar piezo = new five.Piezo({\n    controller: Playground.Piezo,\n    pin: 5,\n});\n\n/**\n* Default Component Controllers\n* @type {five}\n*/\nvar buttons = new five.Buttons([4, 19]);\n\nvar led = new five.Led(13);\n\nvar toggle = new five.Switch(21);\n\n/**\n* Events and Data Handling\n*/\naccelerometer.on(\"tap\", (data) => {\n    console.log(\"tap:\"+ data);\n    piezo.frequency(data.double ? 1500 : 500, 50);\n    var newMsg = { payload: \"red\" };\n    node.send(newMsg);\n});","board":"49f75fd6.c696f","noerr":0,"x":150,"y":60,"wires":[["1927ce68.934fa2"]]},{"id":"1927ce68.934fa2","type":"switch","z":"8d06f96.4858508","name":"If camera is not working","property":"working","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":390,"y":100,"wires":[["65811a5d.e45dec","19aca242.da1c2e","9a6becda.05055"]]},{"id":"19aca242.da1c2e","type":"change","z":"8d06f96.4858508","name":"var working = 1","rules":[{"t":"set","p":"working","pt":"global","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":140,"wires":[[]]},{"id":"811757a.ffbd8a8","type":"change","z":"8d06f96.4858508","name":"var working = 0","rules":[{"t":"set","p":"working","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":220,"wires":[[]]},{"id":"6a67e9f9.1a8068","type":"inject","z":"8d06f96.4858508","name":"","topic":"","payload":"working","payloadType":"global","repeat":"","crontab":"","once":true,"x":960,"y":280,"wires":[["811757a.ffbd8a8"]]},{"id":"9a6becda.05055","type":"debug","z":"8d06f96.4858508","name":"","active":true,"console":"false","complete":"false","x":630,"y":220,"wires":[]},{"id":"428e594b.df33a","type":"telegram bot","z":"","botname":"GalupWorkshopBot","usernames":"hellosung","chatids":""},{"id":"49f75fd6.c696f","type":"nodebot","z":"","name":"","username":"","password":"","boardType":"playground-io","serialportName":"","serialportName2":"/dev/ttyACM0","connectionType":"local","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""}]
